.base-class, .base-class .carousel-caption {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.7s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.7s;
}

.carousel-caption p {
    text-align:center;
}

.carousel-caption {
    padding-top:  5px;
    padding-bottom: 5px;
    width: 100%;
    left: 0;
    background-color: rgba(0,0,0, 0.7);
    bottom: 100px;
    position: relative;
    color: wheat;
}

.carousel.slide {
    width: 576px;
    margin-left: 10px;
    display: flex;
}

.base-class {
    /*opacity:0;*/
    height: 0;
}

.base-class .carousel-caption {
    opacity:0;
}


.base-class.Active {
    opacity:1;
    height: 450px;
}

.base-class.Active .carousel-caption {
    opacity:1;
}

.view-port {
    text-align: center;
    display: block;
    background-color: Ivory ;
    overflow:hidden;
    width: 100%;
    margin-left: 0;
    border: 1px solid grey;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.view-port img {
    height: 450px;
}

.view-port .item {
    margin: 18px 18px 18px 18px;
}

.carousel {
    /*margin-right: 20px;*/
}

#catalogList .list-group-item {
    padding: 0 0 0 0;
    min-height: 160px;
}

.scoll-content {
    min-height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.carousel-inner {
    min-height:460px;
}

@media (max-width: 675px) {
    .carousel-caption {
        padding-top:  2px;
        padding-bottom: 2px;
    }

    .base-class.Active {
        height: 220px;
    }

    .view-port img {
        height: 220px;
    }

    .carousel {
        margin-right: 0;
    }

    .carousel-inner {
        min-height: 220px;
    }
    .carousel.slide {
        width: 95%;
        height: 220px;
    }
}

@media (max-width: 450px) {
    .base-class.Active {
        height: 220px;
    }

    .carousel {
        margin-right: 0;
    }
}